@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-contact-1 {
  background-image: url('../assets/bg-1.png') !important;
  background-position: center !important;
  background-size: cover !important;
}

p, ul, h1, h2, h3, h4, h5 {
  margin-bottom: 0 !important;
}

.ant-input-search-button{
  background-color: black !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 8px 0 0 !important;
}

.ant-input {
  color: white !important;
}