@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-1 {
  background-size: 70%;
  background-image: url('../assets/bg-1.png');
  background-repeat: no-repeat;
  background-position-x: 150%;
  background-position-y: 50%;
}

.bg-2--cover {
  background-size: cover;
  background-image: url('../assets/bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bg-2--position-y-20 {
  background-size: cover;
  background-image: url('../assets/bg-2.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.bg-2--position-y-5 {
  background-size: cover;
  background-image: url('../assets/bg-2.png');
  background-repeat: no-repeat;
  background-position: 50% 5%;
}

.bg-3 {
  background-size: contain;
  background-image: url('../assets/bg-3.png');
  background-repeat: no-repeat;
  background-position: center;
}

p,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

.wrapper-image {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.wrapper-image img {
  grid-row: 1 / -1;
  grid-column: 1;
}

/* Remove Arrows/Spinners Input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* checkbok */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fbd424 !important;
  border-color: #fbd424 !important;
}
.ant-checkbox:hover::after,
.ant-checkbox-wrapper:hover .ant-checkbox::after {
  visibility: hidden !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: transparent !important;
}
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: transparent !important;
}

/* input */
.ant-input {
  caret-color: #fbd424;
}
.ant-input:hover {
  border-color: #d9d9d9 !important;
}
.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* radio */
.ant-radio-inner::after {
  background-color: #fbd424 !important;
}
.ant-radio-checked .ant-radio-inner,
.ant-radio-checked::after {
  border-color: #fbd424 !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* select */
.ant-select {
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px !important;
  background-color: #fff !important;
  outline: none !important;
}

/* picker */
.ant-picker:hover,
.ant-picker-focused {
  border: 1px solid #d9d9d9 !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}
.timepick--ok-btn .ant-picker-ok button.ant-btn-primary {
  color: #000 !important;
  border-color: #fbd424 !important;
  background-color: #fbd424 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
.timepick--ok-btn .ant-picker-ok button.ant-btn-primary:hover {
  color: #fbd424 !important;
  border-color: #fbd424 !important;
  background-color: transparent !important;
}
.timepick--now-btn .ant-picker-now-btn {
  color: #000 !important;
}
.timepick--now-btn .ant-picker-now-btn:hover {
  color: #fbd424 !important;
}

input::file-selector-button {
  opacity: 0;
  cursor: pointer;
}

.title--home {
  text-shadow: 1px 1px 2px #000;
}

button {
  outline: none;
}
