@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-1 {
  background-size: 70%;
  background-image: url('../assets/bg-1.png');
  background-repeat: no-repeat;
  background-position-x: 150%;
  background-position-y: 50%;
}

.bg-2--cover {
  background-size: cover;
  background-image: url('../assets/bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bg-2--position-y-20 {
  background-size: cover;
  background-image: url('../assets/bg-2.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

p, ul, h1, h2, h3, h4, h5 {
  margin-bottom: 0 !important;
}

.ant-input-search-button{
  background-color: #000 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 8px 0 0 !important;
}

.ant-input {
  /* color: #fff !important; */
}

.hover-product-img {
  opacity: 20 !important;
}

.ant-form-item {
  margin-bottom: 16px !important;
}