@font-face {
  font-family: 'marshal-sport-icon';
  src: url(../assets/icon/icomoon.eot) format('embedded-opentype'),
    url(../assets/icon/icomoon.ttf) format('truetype'),
    url(../assets/icon/icomoon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'marshal-sport-icon-2';
  src: url(../assets/icon/icomoon-2.eot) format('embedded-opentype'),
    url(../assets/icon/icomoon-2.ttf) format('truetype'),
    url(../assets/icon/icomoon-2.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caret-icon';
  src: url(../assets/icon/caret-both.eot) format('embedded-opentype'),
    url(../assets/icon/caret-both.ttf) format('truetype'),
    url(../assets/icon/caret-both.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'marshal-sport-icon-3';
  src: url(../assets/icon/icomoon3.eot) format('embedded-opentype'),
    url(../assets/icon/icomoon3.ttf) format('truetype'),
    url(../assets/icon/icomoon3.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: marshal-sport-icon, caret-icon, marshal-sport-icon-2,
    marshal-sport-icon-3, sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: '\e907';
}

.icon-register:before {
  content: '\1f322';
}

.icon-cart:before {
  content: '\e900';
}

.icon-instagram:before {
  content: '\e901';
}

.icon-facebook:before {
  content: '\e902';
}

.icon-youtube:before {
  content: '\e909';
}

.icon-location-mark:before {
  content: '\e904';
}

.icon-mark:before {
  content: '\e905';
  color: #fbd430;
}

.icon-envelope:before {
  content: '\e903';
  color: #fbd430;
}

.icon-telephone:before {
  content: '\e908';
  color: #fbd430;
}

.icon-caret-right:before {
  content: '\e90b';
}

.icon-caret-left:before {
  content: '\e90a';
}

.icon-clock:before {
  content: '\e910';
}

.icon-cross:before {
  content: '\e911';
}

.icon-calendar:before {
  content: '\e912';
}

.icon-plus:before {
  content: '\e913';
}

.icon-minus:before {
  content: '\e914';
}

.icon-logout:before {
  content: '\e915';
}

.icon-check-service:before {
  content: '\e916';
}

.icon-line:before {
  content: '\e917';
}
